.header-content {
    z-index: 15;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 320px;
    gap: 34px;

    position: fixed;
    height: 89px;
    left: 0;
    top: 0;
    right: 0;

    background: #FFFFFF;
    /* Barra superior */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.profileImageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;

    width: 106px;
    height: 49px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.headerHelp {
    width: 31px;
    height: 31px;

    color: #CDCDCD;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.profilePictureContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    border: 3px solid #2EA1DC;
    border-radius: 100%;

    width: 49px;
    height: 49px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.ChristinaProfileImage {
    position: absolute;
    object-fit: cover;
    border-radius: 100%;
    width: 43px;
    height: 43px;
    padding: 1.5px;
}

.profileImgInBorderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 46.12px;
    height: 46.12px;
    left: 1.44px;
    top: 47.56px;

    /* Style */

    background: linear-gradient(90deg, #9327FF 0%, #2EA1DC 100%);
    border-radius: 559px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.spanHeader {
    height: 25px;
    padding-left: 36px;

    /* Version 2/t6 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logoutBtn {
    position: absolute;
    top: 66px;
    right: -40px;
    background: #1f2e43;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    width: 130px;
    height: 53px;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #CDCDCD;
    border: unset;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media (max-width: 1050px) {
    .LogoImageHeader {
        display: unset !important;
        height: 40px;
        width: 32px;
    }

    .header-content {
        padding: 25px;
        padding-right: 75px;
        padding-left: 75px;
    }

    .spanHeader {
        display: none;
    }

    .headerHelp {
        display: none;
    }

    .profileImageHeader {
        width: auto;
    }

    .logoutBtn {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: 400;
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    .header-content {
        padding: 25px;
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media (min-width: 1051px) {
    .legalNoticeResponsive {
        display: none;
    }

    .privacyPolicyResponsive {
        display: none;
    }

    .helpResponsive {
        display: none;
    }
}