.sidebar-content {
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 66px 0px;
    gap: 103px;
    width: 232px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    height: 229px;
    margin-top: -80px;
}

.summarySidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 12px;
    background: #091931;
}

.spanSidebar {
    width: 72px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.spanSidebarBoard {
    width: 72px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
}

.spanImpressumSidebar {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
}

.boardSidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #CDCDCD;
    gap: 20px;
    width: 100%;
    height: 46px;
    padding-left: 25%;
}

.impressumContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px;
    width: 100%;
    height: 120px;
    flex: none;
}

.privacyPolicyLogo {
    width: 20px;
    height: 22px;
    object-fit: contain;
}

.rotate {
    rotate: 180deg;
}

.legalNoticeContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 20px;
    padding-left: 15%;
}

.bgdHover:hover {
    background-color: #091931;
    color: #FFFFFF;
    filter: brightness(1.25);
}

.backgroundSidebar {
    background-color: #091931;
    filter: brightness(1.25);
}

@media (max-width: 1050px) {
    .sidebar-content {
        z-index: 5;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        padding: 0;
        flex-direction: row;
        justify-content: space-evenly;
        top: auto;
        width: auto;
    }

    .LogoImageSidebar {
        display: none;
    }

    .impressumContainer {
        display: none;
    }

    .sidebarMenu {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        align-items: center;
        text-align: center;
        gap: 0;
        margin-top: 0;
    }

    .boardSidebar {
        flex-direction: column;
        justify-content: center;
        height: 100px;
        padding: 12px;
        width: auto;
    }
}