html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter';
    font-weight: 500;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.p-relative {
    position: relative;
}

.d-flex {
    display: flex !important;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.a-i-center {
    align-items: center;
}

.d-none {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

.btn-absolute {
    position: absolute;
    z-index: 77;
    bottom: 35px;
    right: 35px;
}

.margin {
    margin: 0;
}

.margin-left-rifht-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-12 {
    margin-top: 12px !important;
}

.mt-100negative {
    margin-top: -100px;
}

span {
    transform: scale(1, 1.01);
}

h2 {
    font-size: 3.5em;
    margin-top: 0;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin-top: 2em;
    transform: scale(1, 1.01);
}

h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 8px;
}

b {
    font-weight: 600;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.opa-03 {
    opacity: 0.3;
}

.gap-8 {
    gap: 8px;
}

.of-hidden {
    overflow: hidden !important;
    height: 100vh !important;
}

.of-visible {
    overflow: visible;
    height: 100%;
}

.incl-cont-side {
    min-height: 100vh;
    width: 100%;
    padding-left: 334px;
    padding-right: 102px;
    padding-top: 164px;
    padding-bottom: 52px;
    background-color: rgba(211, 211, 211, 0.2);
    position: relative;
    overflow-y: hidden;
}

.popup-window {
    position: fixed;
    top: 0;
    z-index: 45;
    height: 100vh;
    width: 100vw;
    background-color: #00000069;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.back-arrow-abs {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 23px;
    width: 26px;
    cursor: pointer;
}

.success-banner,
.success-banner-login,
.failure-banner {
    z-index: 999;
    display: flex;
    position: fixed;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(42, 54, 71);
    border-radius: 18px;
    bottom: -100px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.success-banner-adjustment {
    margin-left: calc(28% + 232px);
}

.failure-banner-adjustment {
    bottom: initial !important;
    top: 65px; 
}

.move-up {
    animation: moveUp 525ms forwards;
}

.move-down {
    animation: moveDown 525ms forwards;
}

@keyframes moveUp {
    from {
        bottom: -100px;
        transform: translateY(200%);
    }

    to {
        bottom: 150px;
    }
}

@keyframes moveDown {
    from {
        bottom: 150px;
    }

    to {
        bottom: -100px;
        transform: translateY(200%);
    }
}

.dark {
    animation: darkenBackground 325ms forwards;
}

.light {
    animation: lightenBackground 325ms forwards;
}

@keyframes darkenBackground {
    from {
        background-color: rgba(0, 0, 0, 0.0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@keyframes lightenBackground {
    from {
        background-color: rgba(0, 0, 0, 0.2);
    }

    to {
        background-color: rgba(0, 0, 0, 0.0);
    }
}


.move-in {
    animation: moveIn 525ms ease-in-out forwards;
}

.move-out {
    animation: moveOut 525ms ease-in-out forwards;
}

@keyframes moveIn {
    from {
        right: -90%;
        transform: translateX(200%);
    }

    to {
        right: unset;
        transform: none;
    }
}

@keyframes moveOut {
    from {
        right: unset;
        transform: none;
    }

    to {
        right: -100%;
        transform: translateX(200%);
    }
}

.dark-banner {
    animation: darkenBanner 325ms forwards;
}

.light-banner {
    animation: lightenBanner 325ms forwards;
}

@keyframes darkenBanner {
    from {
        background-color: rgba(42, 54, 71, 0.0);
    }

    to {
        background-color: rgba(42, 54, 71, 1);
    }
}

@keyframes lightenBanner {
    from {
        background-color: rgba(42, 54, 71, 1);
    }

    to {
        background-color: rgba(42, 54, 71, 0.0);
    }
}

@media (max-width: 1300px) {
    .padding-r-15 {
        padding-right: 15px !important;
    }
}

@media (max-width: 1050px) {
    .incl-cont-side {
        position: initial;
        min-height: 100vh;
        height: 100%;
        overflow: visible;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 164px;
    }

    .popup-window {
        z-index: 9;
        height: 100%;
        overflow: auto !important;
    }

    .success-banner,
    .success-banner-login,
    .failure-banner {
        left: 35%;
        right: 35%;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 18px;
    }

    .success-banner-adjustment {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .incl-cont-side {
        padding-top: 150px;
    }

    h2 {
        font-size: 2.7em;
    }

    .success-banner,
    .success-banner-login,
    .failure-banner {
        left: 30%;
        right: 30%;
        font-size: 15px;
        padding: 12px 8px;
        border-radius: 10px;
    }

    .failure-banner-adjustment {
        top: 35px;
    }

    .back-arrow-abs {
        top: -40px;
    }
}