<div class="contact-list-container">
    <div id="contactList" class="contact-list flex-column"></div>
</div>
<div id="contactCard" class="contact-card flex-column">
    <div class="spanMainpage d-none">Kanban Project Management Tool</div>
    <img src="../img/plus.png" id="closeContactCardBtn" class="back-btn" onclick="stopPropagation(event); closeContactCard()">
    <div class="contacts-headline">
        <h2>Contacts</h2>
        <div class="contacts-parting-line"></div>
        <span>Better with a team</span>
    </div>
    <div class="flex-column">
        <div id="contactInfo" class="contact-info flex-column"></div>
    </div>
</div>
<div id="createContactBtn" class="create-contact-btn" onclick="openCreateContact()">
    <span>New Contact</span>
    <img src="../img/Capa 1.png">
</div>