<div class="sidebar-content">
    <img class="LogoImageSidebar pointer" src="./img/logo-white.svg" alt="Logo-Join" onclick="showMainpage()">
    <div class="sidebarMenu">
        <div class="boardSidebar pointer bgdHover" id="summarySidebar"
            onclick="changeSite(SUMMARY_ID); addBackgroundColorForMainPages('summarySidebar')">
            <img src="./img/uit_web-grid.svg" alt="summary logo">
            <span class="spanSidebarBoard">Summary</span>
        </div>
        <div class="boardSidebar pointer bgdHover" id="boardSidebar"
            onclick="changeSite(BOARD_ID); addBackgroundColorForMainPages('boardSidebar')">
            <img src="./img/board.svg" alt="Board logo">
            <span class="spanSidebarBoard">Board</span>
        </div>
        <div class="boardSidebar pointer bgdHover" id="addTaskSidebar"
            onclick="changeToAddTaskSite(ADDTASK_ID); addBackgroundColorForMainPages('addTaskSidebar')">
            <img src="./img/add-task.svg" alt="Add Task logo">
            <span class="spanSidebarBoard">Add Task</span>
        </div>
        <div class="boardSidebar pointer bgdHover" id="contactsSidebar"
            onclick="changeSite(CONTACTS_ID); addBackgroundColorForMainPages('contactsSidebar')">
            <img src="./img/contacts.svg" alt="Contacts logo">
            <span class="spanSidebarBoard">Contacts</span>
        </div>
    </div>
    <div class="impressumContainer">
        <div class="legalNoticeContainer pointer bgdHover" id="legalNoticeSidebar">
            <img class="privacyPolicyLogo rotate pointer" src="../img/legal-notice.png" alt="Impressum logo">
            <span onclick="changeSite(LEGALNOTICE_ID); addBackgroundColorForSpecialPages('legalNoticeSidebar')"
                class="spanImpressumSidebar pointer">Legal notice</span>
        </div>
        <div class="legalNoticeContainer pointer bgdHover" id="privacyPolicySidebar">
            <img class="privacyPolicyLogo pointer" src="../img/privacy-policy.png" alt="Impressum logo">
            <span onclick="changeSite(PRIVACY_ID); addBackgroundColorForSpecialPages('privacyPolicySidebar')"
                class="spanImpressumSidebar pointer">Privacy policy</span>
        </div>
    </div>
</div>